<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.pms.mapper.AnnouncementMapper">
    <select id="selectAnnouncementList" resultType="com.project.pms.entity.po.Announcement">
        SELECT * FROM announcement
        <where>
            <if test="query.id!= null">
                AND id = #{query.id}
            </if>
            <if test="query.categoryId!= null">
                AND category_id = #{query.categoryId}
            </if>
            <if test="query.authorId!= null">
                AND author_id = #{query.authorId}
            </if>
            <if test="query.targetRole!= null and query.targetRole!=''">
                AND target_role = #{query.targetRole}
            </if>
            <if test="query.targetRoles != null and query.targetRoles.size() > 0">
                AND target_role IN
                <foreach collection="query.targetRoles" item="role" open="(" separator="," close=")">
                    #{role}
                </foreach>
            </if>
            <if test="query.priority!= null">
                AND priority = #{query.priority}
            </if>
            <if test="query.status!= null">
                AND status = #{query.status}
            </if>
            <if test="query.title!= null and query.title!= ''">
                AND title LIKE CONCAT('%', #{query.title}, '%')
            </if>
            <if test="query.content!= null and query.content!= ''">
                AND content LIKE CONCAT('%', #{query.content}, '%')
            </if>

            <!-- 创建时间范围查询 -->
            <if test="query.createTimeStart != null">
                AND create_time >= #{query.createTimeStart}
            </if>
            <if test="query.createTimeEnd != null">
                AND create_time &lt;= #{query.createTimeEnd}
            </if>

            <!-- 更新时间范围查询 -->
            <if test="query.updateTimeStart != null">
                AND update_time >= #{query.updateTimeStart}
            </if>
            <if test="query.updateTimeEnd != null">
                AND update_time &lt;= #{query.updateTimeEnd}
            </if>
        </where>

        <choose>
            <when test="query.orderByClause!= null and query.orderByClause!= ''">
                ORDER BY ${query.orderByClause}
            </when>
            <otherwise>
                ORDER BY id
                <if test="query.isAsc">ASC</if>
                <if test="!query.isAsc">DESC</if>
            </otherwise>
        </choose>
    </select>
</mapper>
